[Desktop Entry]

Version=0.1

Name=Stats

Comment=ITC 136 Icon

Exec=/usr/bin/gnome-terminal -e "bash -c '/usr/local/bin/stats; bash'"

Icon=/home/solomonaskanaw91/Desktop/sneaker7.jpg

Terminal=false

Type=Application

Categories=Utility;Application;


